<div class="page">

    <header class="page_block">
        <div class="header">
            {{>logo}}
            <nav class="header_nav">
                {{>nav list=header}}
            </nav>
        </div>
    </header>

    <main class="page_block">

        <div class="hero">
            {{#with hero}}
            <div class="section_hero">
                <h1>{{title}}</h1>
                <p>{{text}}</p>
            </div>
            <img src="{{photo}}" alt="image">
            {{/with}}
        </div>

        <div class="section_featured">
            {{#each blog}}
            {{>cardFeatured photo=img heading=title info=text linkText=button linkUrl=href}}
            {{/each}}
        </div>

        <div class="section_form">
            {{#with form}}
            <div class="card_form">
                <h3>{{title}}</h3>
                <p>{{info}}</p>
            </div>
            <button>
                <a href="{{href}}">{{button}}</a>
            </button>
            {{/with}}
        </div>

    </main>

    <footer class="page_block">
        <div class="footer">
            <div>
                {{>logo}}
                <span class="footer_copyright">Copyright 2023-2024</span>
            </div>
            {{#each footer}}
            <div>
                <span class="footer_title">{{title}}</span>
                {{>nav list=links isVertical=true}}
            </div>
            {{/each}}
        </div>
    </footer>

</div>