<header class="header">
    {{>logo}}
    {{>nav list=header}}
</header>

<section class="page_block">
    <div class="hero">
        {{#with hero}}
        {{>hero title=title text=text}}
        <button class="btn-hero"><a href="{{button.url}}">{{button.text}}</a></button>
        {{/with}}
    </div>
</section>

<section class="section-preview">
    {{#each preview}}
    {{>cardPreview data=this}}
    {{/each}}
</section>

<main class="page_block">
    <div class="main">

        <div class="header-posts">
            <h2 class="list-title">List of posts</h2>
            <div>
                {{#each categories}}
                <button class="list-categories preview-category-{{id}}">{{text}}</button>
                {{/each}}
            </div>
        </div>

        <div class="posts">
            <div class="blogs">
                {{#each news}}
                {{>cardPost data=this}}
                {{/each}}
            </div>

            <div class="aside">
                <div class="about">
                    <h3 class="about-title">About</h3>
                    <p class="about-description">{{about}}</p>
                </div>
                {{>linkList data=social title="Social"}}
                {{>linkList data=archive title="Archives"}}
            </div>
        </div>

    </div>
</main>

<footer class="footer">
    <div>
        {{>logo}}
        <span class="footer_copyright">Copyright 2023-2024</span>
    </div>
    {{#each footer}}
    <div>
        <span class="footer_title">{{title}}</span>
        {{>nav list=links isVertical=true}}
    </div>
    {{/each}}
</footer>