<header class="header">
    {{>logo}}
    {{>nav list=header}}
</header>

<main>

    <section class="hero">
        {{#with hero}}
        <div class="content_hero">
            <h1>{{title}}</h1>
            <p>{{text}}</p>
        </div>
        <img src="{{photo}}" alt="image">
        {{/with}}
    </section>

    <section class="featured">
        {{#each blog}}
        {{>cardFeatured photo=img heading=title info=text linkText=button linkUrl=href}}
        {{/each}}
    </section>

    <section class="form">
        {{#with form}}
        <div class="card_form">
            <h3>{{title}}</h3>
            <p>{{info}}</p>
        </div>
        <button>
            <a href="{{href}}">{{button}}</a>
        </button>
        {{/with}}
    </section>

</main>

<footer class="footer">
    <div>
        {{>logo}}
        <span class="footer_copyright">Copyright 2023-2024</span>
    </div>
    {{#each footer}}
    <div>
        <span class="footer_title">{{title}}</span>
        {{>nav list=links isVertical=true}}
    </div>
    {{/each}}
</footer>